* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

h1{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
    font-size: 3rem;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main {
    min-height: 100vh;
    background-image: linear-gradient(to right top, rgba(8, 7, 61, 0.698), rgba(64, 61, 250, 0.637)), url(./images/banner.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 5;
    backdrop-filter: blur(3rem);
    display: flex;
}
.circle1, .circle2 {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255,255,255,0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}
.circle1 {
    top: 5%;
    right: 15%;
}
.circle2 {
    bottom: 5%;
    left: 10%;
} 

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    justify-content: space-evenly;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255,255,255,0.3));
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2 {
    padding: 0 2rem;
}

.games {
    flex: 2;
}

.pro {
    display: flex;
    border-radius: 2rem;
    padding: 1rem;
}

.status {
    margin-bottom: 3rem;
}

.status input {
    background: linear-gradient(to right buttom rgba(225, 225, 225, 0.7), rgba(225, 225, 225, 0.3));
    border: none;
    width: 50%;
    border-radius: 2rem;
}

.games {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    display: flex;
    background: linear-gradient(to left bottom, rgba(225, 225, 225, 0.8), rgba(225, 225, 225, 0.3));
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.7);
    justify-content: space-between;
}

.progress {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 237);
    position: absolute;
    left: 60%;
}

.image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.percentage {
    font-weight: bold;
    background: linear-gradient(to right top,  #65dfc9, #6cdbeb );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}